
<h1>Cadastro de Empresa</h1>
    <hr>
    <form action="/buscemp/" method="post">
        
            <input type="text" name="cnpj" id="cnpj" placeholder="cnpj">
              
        <input type="submit" value="Buscar">
    </form>
