
<h1>Cadastro de Empresa</h1>
    <hr>
    <form action="emp/insertemp" method="POST">
        <div class="form-control">
            <input type="hidden">
            <label for="nomeempresa">Nome empresa:</label>
            <input type="text" name="nomeempresa" placeholder="Digite o nome da empresa">
        </div>

         <div class="form-control">
            <label for="cnpj">CNPJ:</label>
            <input type="text" name="cnpj" placeholder="Digite o cnpj da empresa">
        </div>

        <div class="form-control">
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" placeholder="Digite o telefone da empresa">
        </div>

        <div class="form-control">
            <label for="localidade">Localidade:</label>
            <input type="text" name="localidade" placeholder="Digite a localidade">
        </div>


    
        <input type="submit" value="Cadastrar">
    </form>